src/schema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="file://schema.xml"
           xmlns="file://schema.xml"
           elementFormDefault="qualified">

    <xs:element name="report" type="reportType"/>

    <xs:complexType name="reportType">
        <xs:sequence>
            <xs:element name="listStudents" type="listStudentsType"/>
            <xs:element name="listPrograms" type="listProgramsType"/>
            <xs:element name="listCourses" type="listCoursesType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="descriptionCourceType">
        <xs:attribute name="name" type="stringType"/>
        <xs:attribute name="author" type="stringType"/>
        <xs:attribute name="dateCreate" type="xs:date"/>

        <xs:sequence>
            <xs:element name="listTasks" type=""
        </xs:sequence>

    </xs:complexType>


    <xs:simpleType name="stringType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>